.item {
  display: flex;
  align-items: center;
  height: 60px;
  width: 316px;
  background-color: rgba(255, 255, 255, 0.295);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 3px;
}

.name {
  font-style: 25px;
  margin-left: 20px;
  font-weight: 700;
}

.status {
  margin: 15px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
}

.true {
  background-color: green;
}

.false {
  background-color: red;
}
